@import url("/0_reset.css");

body {
    background-color: #181818;
    font-family: 'Arimo';
    color: #F3F6F9;
}
.wrapper {
    margin: auto;
    width: 930px;
}

.listOfFilms {
    margin-top: 45px;
    box-sizing: border-box;
    padding: 70px;
    width: 930px;
    height: 800px;
    background-color: #232323;
    border-radius: 20px;
}
.listOfFilms_inputArea {
    display: flex;
    gap: 20px;
}
.listOfFilms_input {
    width: 400px;
    height: 62px;
    box-sizing: border-box;
    background-color: #232323;
    border: none;
    box-shadow: 0px 1px 0px 0px gray;
    color: #F3F6F9;
    font-size: 21px;
    opacity: 50%;

}
.listOfFilms_inputArea::placeholder {
    color: #F3F6F9;
    font-size: 21px;
    opacity: 50%;
}
.listOfFilms_btn {
    width: 62px;
    height: 62px;
    border: 1px solid #6532F8;
    box-sizing: border-box;
    background-color: #6532F8;
    border-radius: 31px;
    background-image: url("/11_Assets/icons/vector.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}
ol, ul {
    list-style: none;
}
.listOfFilms_resultStr {
    margin-bottom: 5px;
    padding-left: 20px;
    width: 790px;
    height: 200px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #3A3939;
    position: relative;
}
.listOfFilms_resultStr:hover {
    background-color: #635c5c;
}
.listOfFilms_resultStr:last-child {
    margin-bottom: 0px;
}

.listOfFilms_resultStr_poster {
    width: auto;
    height: 140px;
    object-fit: fill;
    position: absolute;
    left: 30px;
    top: 30px;
}
.listOfFilms_resultStr_title {
    color: #F3F6F9;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    position: absolute;
    left: 200px;
    top: 30px;
}
.listOfFilms_resultStr_year {
    color: #F3F6F9;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    position: absolute;
    left: 200px;
    top: 85px;
}
.listOfFilms_resultStr_type {
    color: #F3F6F9;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    position: absolute;
    left: 200px;
    bottom: 30px;
}
.listOfFilms_resultList {
    margin-top: 40px;
    width: 810px;
    height: 610px;
    overflow: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}
.listOfFilms_resultList::-webkit-scrollbar {
    width: 10px;
}
  
.listOfFilms_resultList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #6532F8;
}
.listOfFilms_resultList::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #232323;
}
.listofFilms_popUp {
    box-sizing: border-box;
    width: 930px;
    height: 800px;
    background-color: #635c5c;
    border: none;
    border-radius: 20px;
    position: relative;
    
}